@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <title>SisMecânica - Login</title>
    <link rel="stylesheet" href="~/css/login2.css">
</head>
<body>
    <main class="container">
        <center>
            <img src="~/images/logosis.png" alt="Logo SisMecânica" id="logo" width=300 height=100>
        </center>
        <h2 align="center">SOLICITE SEU CADASTRO</h2>
        <h3 align="center">Whatsapp - 99111-9898</h3>
        <h3 align="center">E-mail - contato@sismecanica.com</h3>
        <br>
        <center>
            <a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="Login">Voltar para o Login</a>
        </center>
    </main>
</body>
</html>
