@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/custom.css" />

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col bloco">

                </div>
                <div class="col bloco">
                    <div class="centro meio">
                        <font face="Fira Sans Black"><h2 class="title">Bem-vindo ao SISMecânica!</h2></font>
                        <font face="Fira Sans Black">
                            <p>
                                Estamos muito agradecidos por
                                nos escolher.
                            </p>
                        </font>
                    </div>
                </div>
            </div>
    </header>
    <!--SOBRE-->
    <!--//SOBRE-->
    <!--DEPOIMENTOS-->
    <div id="servicos">
        <center>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 cartao">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Grafico" asp-action="Index"><img src="~/assets/grafico.png" class="img-fluid" width="250" height="250" /></a>

                        
                        <!--<h5 class="text-uppercase mb-1">GRAFICO</h5>
    <a class="button btn btn-outline-primary button-primary-outline d-md-inline-block d-block" asp-area="" asp-controller="Carros" asp-action="Index">Acessar</a>-->
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 cartao">
                        <img src="~/assets/grafico.png" class="img-fluid" width="250" height="250" />
                        <!--<h5 class="text-uppercase mb-1">GRAFICO</h5>
    <a href="#" class="button btn btn-outline-primary button-primary-outline d-md-inline-block d-block">Acessar</a>-->
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 cartao">
                        <img src="~/assets/grafico.png" class="img-fluid" width="250" height="250" />
                        <!--<h5 class="text-uppercase mb-1">GRAFICO</h5>
    <a href="#" class="button btn btn-outline-primary button-primary-outline d-md-inline-block d-block">Acessar</a>-->
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 cartao">
                        <img src="~/assets/grafico.png" class="img-fluid" width="250" height="250" />
                        <!--<h5 class="text-uppercase mb-1">GRAFICO</h5>
    <a href="#" class="button btn btn-outline-primary button-primary-outline d-md-inline-block d-block">Acessar</a>-->
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 cartao">
                        <img src="~/assets/grafico.png" class="img-fluid" width="250" height="250" />
                        <!--<h5 class="text-uppercase mb-1">GRAFICO</h5>
    <a href="#" class="button btn btn-outline-primary button-primary-outline d-md-inline-block d-block">Acessar</a>-->
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 cartao">
                        <img src="~/assets/cadastro_client.svg" class="img-fluid" width="150" height="150" />

                        <h5 class="text-uppercase mb-1">Sugestões</h5>
                        <a href="#" class="button btn btn-outline-primary button-primary-outline d-md-inline-block d-block">Acessar</a>
                    </div>
                </div>
            </div>
        </center>
    </div>

    <!--FOOTER-->
    <footer id="contato">
        <div>
            <div class="email">
                <img src="~/assets/paperplane.svg" />
                
            </div>
        </div>
    </footer>

</body>



